* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Arial Black, sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}



a {
    text-decoration: none;
    color: inherit;
}

#morphNav {
    position: fixed;
    height: 60px;
    width: 60px;
    top: 20px;
    left: 10px;
    border-radius: 50%;
    transition:
        width 0.5s ease,
        height 0.5s ease,
        border-radius 0.5s ease;
    overflow: hidden;
}

#morphNav:hover {
    background: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.251), /* Subtle inner glow */
              0 0 0px rgba(255, 255, 255, 0.331), /* Stronger outer glow */
              0 0 5px rgba(255, 255, 255, 0.402); /* Softest, widest glow */

}

#morphNav.open {
    height: 90%;
    width: 200px;
    border-radius: 5px 20px 20px 20px;
    background: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.251), /* Subtle inner glow */
              0 0 0px rgba(255, 255, 255, 0.331), /* Stronger outer glow */
              0 0 5px rgba(255, 255, 255, 0.402); /* Softest, widest glow */

}

#navToggle {
    width: 60px;
    height: 60px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.nav-content {
    display: flex;
    flex-direction: column;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#morphNav.open .nav-content {
    opacity: 1;
    transform: translateX(0);
}

.nav-content a {
    color: white;
    padding: 20px;
}

.nav-content a:hover {
    background: rgba(81, 81, 81, 0.5);
    /*background: gray;*/
}



section {
    max-height: 95vh;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

#slide1 {
    background: rgb(17, 0, 33);
    color: white;
}

#slide2 {
    background: #fef200;
}

#slide3 {
    background: #e81b00;
}

#slide4 {
    background: #00adef;
}

#slide5 {
    background: #f037a5;
}

#slide6 {
    background: indigo;
}

