* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Arial Black, sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}



a {
    text-decoration: none;
    color: inherit;
}

#morphNav {
    position: fixed;
    height: 60px;
    width: 60px;
    top: 20px;
    left: 10px;
    border-radius: 50%;
    transition:
        width 0.5s ease,
        height 0.5s ease,
        border-radius 0.5s ease;
    overflow: hidden;
    z-index: 1000;
}

#morphNav:hover {
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.251), /* Subtle inner glow */
              0 0 0px rgba(255, 255, 255, 0.331), /* Stronger outer glow */
              0 0 5px rgba(255, 255, 255, 0.402); /* Softest, widest glow */

}

#morphNav.open {
    height: 90%;
    width: 200px;
    border-radius: 5px 20px 20px 20px;
    background: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.251), /* Subtle inner glow */
              0 0 0px rgba(255, 255, 255, 0.331), /* Stronger outer glow */
              0 0 5px rgba(255, 255, 255, 0.402); /* Softest, widest glow */

}

#navToggle {
    width: 60px;
    height: 60px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.nav-content {
    display: flex;
    flex-direction: column;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#morphNav.open .nav-content {
    opacity: 1;
    transform: translateX(0);
}

.nav-content a {
    color: white;
    padding: 20px;
}

.nav-content a:hover {
    background: rgba(81, 81, 81, 0.5);
    /*background: gray;*/
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees (one full turn) */
  }
}



section {
    max-height: 100vh;
    min-height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 8rem;
}

h4 {
    font-size: 2rem;
}

ol {
    font-size: 2rem;
    /*align-self: flex-start;*/
}

#subtitle {
    font-size: 2rem;
}



#TitlePage {
    background: black;
    color: white;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

#TitleText {
    height: 100%;
    width: auto;
    position: relative;
    top: 0;
    right: 0;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonCombo {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 1;
}

#vinylBtn {
    position: absolute;
    height: 125%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: transform .3s ease;
    cursor: pointer;
}

#vinylImg {
    height: 100%;
    width: auto;
    border-radius: 50%;
    
    animation-name: spin;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#TextBtn {
    background-color: white;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    border: none;
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 2rem;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    transition: .5s ease;
}

#vinylBtn:hover {
    transform: translate(-45%, -50%);
    background-color: gold;
}

#vinylBtn:hover #TextBtn {
    background-color: gold;
    padding: 40px;
}

#TitleText:has(+ #vinylBtn:hover) {
    color: gold;
}



#TotalListening {
    background: rgb(120, 102, 1);
    color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

#TotalTimeText {
    height: 70%;
    width: 75%;
    position: absolute;
    z-index: 2;
    background-color: black;
    border-radius: 20px;
    opacity: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    padding-left: 30px;
    white-space: nowrap;
}

.TotalText {
    color: white;
    position: relative;
    top: 0px;
    margin-bottom: 10px;
}

#timeBtn {
    font-size: 2rem;
    font-family: Arial Black, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#caption{
    display: inline-block;
    margin-right: 10px;
}

#timeSwitch {
    display: inline-block;
    width: 16vw;
}

#timeNextBtn {
    background-color: transparent;
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    border: none;
    color: white;
    position: absolute;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
}

#TotalTimeImg {
    height: 125%;
    width: auto;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    opacity: 60%;
}

#TimeBg {
    position: absolute;
    width: 102%;
    height: auto;
    opacity: 30%;
}



#TopArtistList {
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
}

#artistListText {
    grid-column: 1;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.artistText {
    background-image: linear-gradient(to bottom, rgb(65, 65, 65), rgb(203, 203, 203), rgb(65, 65, 65));
    background-clip: text;
    color: transparent;
    margin: 10px;
}

#artists {
    text-align: left;
}

#artistListImgs {
    grid-column: 2;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
}

.artistImgs {
    bottom: 50px;
    width: 120px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    position: relative;
}

#szaImg {
    top: 50px;
    width: 300px;
    position: absolute;
    justify-content: center;
    align-self: flex-start;
}



#TopSongList {
    background: #9C7700;
    position: relative;
    overflow: hidden;
}

#SongListHead {
    position: absolute;
    height: auto;
    width: 22vw;
    top: 7%;
    left: 2%;
    transform: rotate(-15deg);
    z-index: 3;
}

#SongListText {
    height: auto;
    width: 40%; 
    position: absolute;
    z-index: 4;
    top: 10%;
    right: 5%;
    transform: rotate(-15deg);
}

#songs {
    text-align: left;
}

#gramoImg {
    position: absolute;
    width: 800px;
    height: auto;
    top: -7%;
    left: -7%;
    transform: rotate(10deg);
    z-index: 2;
}

#nextRadioBtn {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#radioImg {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    left: 0;
}

#radioTxt {
    position: absolute;
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 1.5rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
}



#ArtistCount {
    background: rgb(255, 248, 224);
    color: #9C7700;
    overflow: hidden;
    position: relative;
}

#TotArtistText {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

#artistsTotal {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#totArtistLabel {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#boomboxImg {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 110%;
    top: 40%;
    opacity: 90%;
}

#silkbg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 60%;
    filter: blur(3px);
}



#TopArtist {
    background: #2C2C2A;
    color: #CADAC5;
}

#TopArtistImg {
    width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#TopArtistImg #ArtistImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#artistTop {
    font-size: 4rem;
}



#TopArtistStats {
    background: #7D9750;
    color: #2C2C2A;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: minmax(auto, 20vh) auto;
}

#ArtistStatHead, #ArtistStatMain, #ArtistStatText {
    height: 100%;
    width: 100%;
}

#ArtistStatHead {
    grid-column: 1 / span 2;
    grid-row: 1;
    max-height: 20vh;
}

#ArtistStatMain {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 400px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#ArtistStatImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#artistStatTop {
    font-size: 4rem;
}

#ArtistStatText {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



#TopSong {
    background: #F7AF3F;
    color: #233E30;
}

#TopSongImg {
    width: 106px;
    height: 106px;
}

#songTop {
    font-size: 4rem;
    /*text-align: center;*/
}



#TopSongStats {
    background: #022E36;
    color: #CADAC5;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: minmax(auto, 20vh) auto;
}

#SongStatHead, #SongStatMain, #SongStatExtra { /*look into box-sizing to prevent added width/height*/
    height: 100%;
    width: 100%;
}

#SongStatHead {
    grid-column: 1 / span 2;
    grid-row: 1;
    max-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#SongStatMain {
    grid-column: 1 / 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SongStatName {
    font-size: 3rem;
}

#SongStatImg { /*look into img size adjust to screen size*/
    max-width: 100%;
    width: 400px;
    height: auto;
}

#SongStatExtra {
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}