* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Arial Black, sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}



a {
    text-decoration: none;
    color: inherit;
}

#morphNav {
    position: fixed;
    height: 60px;
    width: 60px;
    top: 20px;
    left: 10px;
    border-radius: 50%;
    transition:
        width 0.5s ease,
        height 0.5s ease,
        border-radius 0.5s ease;
    overflow: hidden;
    z-index: 1000;
}

#morphNav:hover {
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.251), /* Subtle inner glow */
              0 0 0px rgba(255, 255, 255, 0.331), /* Stronger outer glow */
              0 0 5px rgba(255, 255, 255, 0.402); /* Softest, widest glow */

}

#morphNav.open {
    height: 90%;
    width: 200px;
    border-radius: 5px 20px 20px 20px;
    background: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.251), /* Subtle inner glow */
              0 0 0px rgba(255, 255, 255, 0.331), /* Stronger outer glow */
              0 0 5px rgba(255, 255, 255, 0.402); /* Softest, widest glow */

}

#navToggle {
    width: 60px;
    height: 60px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.nav-content {
    display: flex;
    flex-direction: column;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#morphNav.open .nav-content {
    opacity: 1;
    transform: translateX(0);
}

.nav-content a {
    color: white;
    padding: 20px;
}

.nav-content a:hover {
    background: rgba(81, 81, 81, 0.5);
    /*background: gray;*/
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees (one full turn) */
  }
}



section {
    max-height: 97vh;
    min-height: 97vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 10rem;
}

h2.labels {
    font-size: 5rem;
}

h3 {
    font-size: 8rem;
}

h4 {
    font-size: 2rem;
}

ol {
    font-size: 2rem;
    /*align-self: flex-start;*/
}

#subtitle {
    font-size: 2rem;
}

.title {
    margin: auto;
}



#TitlePage {
    background: black;
    position: relative;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

#TitlePage > * {
    height: 100%;
    width: 100%;
}

#TitleText {
    grid-row: 1;
    position: absolute;
    z-index: 2;
}

#buttonCombo {
    grid-row: 2;
    position: absolute;
}

#vinylBtn {
    height: 250px;
    width: 250px;
    background: white;
    color: black;
    border: none;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .7s, width .7s ease, height .7s ease;
}

#vinylImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: background-color .7s, width .7s ease, height .7s ease;

    animation-name: spin;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#overlayBtn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .7s, width .7s ease, height .7s ease;
}

#vinylBtn:hover, #vinylImg:hover {
    background: gold;
    height: 270px;
    width: 270px;
    /*animation-duration: 3s;*/
}

#vinylBtn:hover + #overlayBtn, #overlayBtn:hover {
    background-color: gold;
    width: 85px;
    height: 85px;
}

/*#vinylImg:has(+ #overlayBtn:hover),*/ #vinylBtn:has(+ #overlayBtn:hover) {
    background-color: gold;
    height: 270px;
    width: 270px;
    animation-duration: 3s;
}



#TotalListening {
    background: gold;
    color: black;
    position: relative;
}

#TotalTimeText {
    position: absolute;
    z-index: 2;
}

#TotalTimeImg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}



#TopArtistList {
    background: #e81b00;
    /*position: relative;*/
}


#TopSongList {
    background: #00adef;
}


#ArtistCount {
    background: #f037a5;
}



#TopArtist {
    background: #2C2C2A;
    color: #CADAC5;
}

#TopArtistImg {
    width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#TopArtistImg #ArtistImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#artistTop {
    font-size: 4rem;
}



#TopArtistStats {
    background: #7D9750;
    color: #2C2C2A;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: minmax(auto, 20vh) auto;
}

#ArtistStatHead, #ArtistStatMain, #ArtistStatText {
    height: 100%;
    width: 100%;
}

#ArtistStatHead {
    grid-column: 1 / span 2;
    grid-row: 1;
    max-height: 20vh;
}

#ArtistStatMain {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 400px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#ArtistStatImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#artistStatTop {
    font-size: 4rem;
}

#ArtistStatText {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



#TopSong {
    background: #F7AF3F;
    color: #233E30;
}

#TopSongImg {
    width: 106px;
    height: 106px;
}

#songTop {
    font-size: 4rem;
    /*text-align: center;*/
}



#TopSongStats {
    background: #022E36;
    color: #CADAC5;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: minmax(auto, 20vh) auto;
}

#SongStatHead, #SongStatMain, #SongStatExtra { /*look into box-sizing to prevent added width/height*/
    height: 100%;
    width: 100%;
}

#SongStatHead {
    grid-column: 1 / span 2;
    grid-row: 1;
    max-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#SongStatMain {
    grid-column: 1 / 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SongStatName {
    font-size: 3rem;
}

#SongStatImg { /*look into img size adjust to screen size*/
    max-width: 100%;
    width: 400px;
    height: auto;
}

#SongStatExtra {
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}